@font-face {
    font-family: 'Ailerons';
    src: url('./fonts/subset-Ailerons-Regular.woff2') format('woff2'),
        url('./fonts/subset-Ailerons-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../public/fonts/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../public/fonts/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../public/fonts/SF-Pro-Display-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../public/fonts/SF-Pro-Text-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../public/fonts/SF-Pro-Text-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}



*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection
{
    background: #ffffff22;
}

html,
body
{
    overflow: hidden;
    font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, sans-serif;
}

.experience
{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.transcript {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 38px;
    text-align: center;
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.response {
    left: 50%;
    right: -50%;
    color: #ffffff;
    font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    max-width: 70%;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.webcam-container {
    position: fixed;
    top: 40px;
    right: 20px;
    width: 180px;
    height: 240px;
    z-index: 1000;
    border-radius: 8px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.webcam-view {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
